* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

/* Color palet: https://www.canva.com/colors/color-palettes/mermaid-lagoon/*/

/* Flex */
header, #littleBody, .modal form, .modal, .linkName, .registration form, .registration, .center {
    display: flex;
}

/* Width / Height */
#container, .image img, .modal, .linkName, .registration, #website, footer {
    width: 100%;
}

#container, .modal, .image img {
    height: 100%;
}

/* Font */
#container, footer, header {
    font-family: "MS Outlook", sans-serif;
    font-size: 1rem;
}

/* ---- i ---- */
header i {
    font-size: 45px;
}

#littleBody i {
    font-size: 30px;
}

/* ---- Container ---- */
#container, header {
    padding: 20px 70px;
}

#littleBody {
    padding: 100px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* ---- Header ---- */
header {
    color: #FEFEFE;
    background-color: #2E8BC0;
    justify-content: space-between;
}

#website {
    text-align: center;
    z-index: 1;
}

#account {
    border-radius: 25px;
}

/* ---- Little Body ---- */
.linkImage {
    margin-bottom: 25px;
}

.image {
    width: 300px;
    height: 300px;
}

.image, .image img {
    border-radius: 15px 15px 0 0;
}

.image {
    background-color: #2E8BC0;
    border: solid 6px #2E8BC0;
    height: 250px;
}

.linkName {
    background-color: #145DA0;
    border-radius: 0 0 15px 15px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -6px;
    height: 50px;
    border: solid 6px #145DA0;
}

.linkName:hover {
    cursor: pointer;
    background-color: rgba(177, 212, 224, 0.6);
}

#link-add-form, #update-link {
    display: none;
}

.delete:hover, .edit:hover {
    color: red;
}

/* ---- Modal ---- */
.modal form {
    width: 450px;
    padding: 25px;
    background-color: #2E8BC0;
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
}

hr {
    color: #FEFEFE;
    margin-bottom: 10px;
}

.modal {
    z-index: 2;
    background-color: rgba(12, 45, 72, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

/* ---- Home ---- */
.registration form {
    flex-direction: column;
}

.registration {
    justify-content: center;
}

.center {
    padding: 30px 0;
    flex-direction: column;
    text-align: center;
}

.center div {
    margin: 10px 0;
}

.littleBorderForm {
    padding: 25px;
    margin: 25px;
    border: solid #145DA0 2px;
}

/* ---- Footer ---- */
footer div {
    padding: 5px;
}

footer {
    color: #FEFEFE;
    padding: 15px;
    margin-top: 3rem;
    background-color: #2E8BC0;
    text-align: center;
}

#newLink a {
    display: flex;
    align-items: center;
}

#newLink i {
    margin-right: 5px;
}

/* ---- Reset / input / button ---- */
a {
    text-decoration: none;
    color: #FEFEFE;
}

button {
    border: #B1D4E0 solid 2px;
    border-radius: 10px;
    background-color: #2E8BC0;
    color: #FEFEFE;
    margin: 5px 0;
}

button, input {
    padding: 10px;
}

button:hover {
    border: #2E8BC0 solid 2px;
    background-color: #B1D4E0;
}

a:hover, button:hover, .delete, .edit {
    cursor: pointer;
    color: #0C2D48;
}

/* ---- Messages / Colors ---- */
#message {
    z-index: 4;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: rgb(30, 30, 30);
    animation-duration: 6s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-name: messageAnim;
}

.red {
    color: red;
    border: red solid 4px;
}

.orange {
    color: orange;
    border: orange solid 4px;
}

.green {
    color: limegreen;
    border: limegreen solid 4px;
}

/* ---- Animation ---- */
@keyframes messageAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}